//grid
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
//center element
@mixin absCenter {
  position: absolute;
  /* top and left are in relation to the parent element */
  top: 50%;
  left: 50%;
  /* elements are shifted half of the width to the left and half of the height up */
  transform: translate(-50%, -50%);
}
//MEDIA QUERY MANAGER
/* Breakpoints (desktop-first)
0 - 600px :      Phone
600 - 900px:     Tablet portrait
900 - 1200px:    Tablet landscape
[1200 - 1800]    normal styles apply
1800px + :       Big desktop

create a mixin that passes in a breakpoint
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    //only app;y media query to screen (not on other modes such as print)
    //apply styles when width <= 600px
    @media only screen and (max-width: 37.5em) {
      @content
    };
  }
  @if $breakpoint == tab-port {
    //apply styles when width <= 900px
    @media only screen and (max-width: 56.25em) {
      @content
    };
  }
  @if $breakpoint == tab-land {
    //apply styles when width <= 1200px
    @media only screen and (max-width: 75em) {
      @content
    };
  }
  @if $breakpoint == big-desktop {
    //apply styles when width >= 1800px
    @media only screen and (min-width: 112.5em) {
      @content
    };
  }

}
