//header could be classified as a layout element

.header {
  /* 85% of the viewport height if clip-path is not supported */
  height: 85vh;
  /* can specify 2 values for a property by using a comma (we want gradient to be on top of image so it will come first) */
  /* use background image property to use gradient */
  /* gradient will go to the right bottom corner */
  background-image: linear-gradient(to right bottom,
  rgba($color-primary-light, 0.8),
  rgba($color-primary-dark, 0.8)),
  url("../img/hero-small.jpg");
  /* will fit the background in the width of the vieport */
  background-size: cover;
  /* top of the image will always stick to the top of the container (even when resizing)*/
  background-position: top;

  position: relative;

  //if clip-path property is supported
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)){
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    /* values are from top-left, top-right, bottom-right, bottom-left */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    height: 95vh;
  }

  //load high resolution image when res is at least 192dpi and screen width is larger than 600px
  //or when screen size is greater than 2000px;
  //for safari, test if device pixel ratio is at least 2
  @media (min-resolution: 192dpi) and (min-width: 37.5em),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
  (min-width: 125em) {
    background-image: linear-gradient(to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)),
    url("../img/hero.jpg");
  }

  @include respond(tab-land) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
  }

  @include respond(tab-port) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  @include respond(phone) {
    //decrease slope of clip-path on mobile devices
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__logo-box {
    position: absolute;
    /* 40px top and left margin from its parent element that has a relative position */
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
    /* only need to set height or width of the image, the other property will automatically adjust */
  }

  &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* set text-align to center for button */
    text-align: center;
  }
}
