.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, .8);
  z-index: 3000;

  //initially hide this section
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  &__content {
    @include absCenter;
    width: 75%;
    background-color: $color-white;
    box-sizing: 0 2rem 4rem rgba($color-black, .2);
    border-radius: 3px;
    //set parent to table
    display: table;
    // hide anything that overflows the content
    overflow: hidden;

    opacity: 0;
    // cannot have 2 transforms in the same declaration block, so we need to declare the mixin tranform in the same line
    transform: translate(-50%, -50%) scale(0);
    //animate all for .4s after a .2s delay
    transition: all .5s .2s;
  }

  &__left {
    // take up 1/3 of the parent container
    width: (100%/3);
    display: table-cell;

    @include respond(tab-land){
      width: 50%;
      display: table-row;
    }
  }

  &__img {
    display: block;
    width: 100%;

    @include respond(tab-land){
      float: left;
      width: 50%;
      height: 25vh;
    }
  }

  &__right {
    //take up 2/3 of the parent container
    width: 2*(100%/3);
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    //create 2 columns
    column-count: 2;
    //create a gap between the columns
    column-gap: 4rem;
    //create a border between the columns
    column-rule: 1px solid $color-grey-light-2;
    //automatically hyphenate words that are too long
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    //pretty useless- not supported in most browsers..
    hyphens: auto;

    @include respond(phone){
      column-count: 1;
      margin-bottom: 2rem;
    }
  }

  //open states
  &:target {
    opacity: 1;
    visibility: visible;
  }

  // style the content when popup becomes the target
  &:target &__content {
    //scale back to 100% when the popup opens
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      line-height: 1;
      transition: all .2s;
    }
    &:hover {
      color: $color-primary;

    }
  }
}
