//base folder is for basic definitions of entire project
/* Browser reset using uiversal selector */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* each element will inherit box-sizing from body */
  box-sizing: inherit;
}
//even though html section only has typography element, it is more classified
//as a base because it defines what 1rem is (changes the page size too)

html {
  /* set root font size so it is easier to calculate rem
     1 rem = 10px
     10px = 62.5% (10/16)*/
  font-size: 62.5%;
  @include respond(tab-land) {
    font-size: 50%; //1rem = 9px, 9/16 = 56.25%
  }
  //font size of phone will be 50% (8px) as well because tab-port applies
  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px, 8/16 = 50%
  }
  @include respond(big-desktop) {
    font-size: 80%; //1rem = 12px, 12.16 = 75%
  }
}
/* Set project-wide font settings so children can inherit */
body {
  box-sizing: border-box;
  padding: 3rem;

  //remove padding at tab-port breakpoint
  @include respond(tab-port) {
    padding: 0;
  }
}

//change styles when any text is selected
::selection {
  background-color: $color-primary;
  color: $color-white;
}
